<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cmtech.soft.equipment.base.mapper.EquipmentMaintenanceContentRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cmtech.soft.equipment.base.entity.EquipmentMaintenanceContentRelation">
        <id column="id" property="id" />
        <result column="maintenance_content_id" property="maintenanceContentId" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="maintenance_type" property="maintenanceType" />
        <result column="equipment_type_id" property="equipmentTypeId" />
        <result column="equipment_type_code" property="equipmentTypeCode" />
        <result column="equipment_type_name" property="equipmentTypeName" />
        <result column="equipment_id" property="equipmentId" />
        <result column="equipment_code" property="equipmentCode" />
        <result column="equipment_name" property="equipmentName" />
        <result column="creater_id" property="createrId" />
        <result column="creater" property="creater" />
        <result column="modifier_id" property="modifierId" />
        <result column="modifier" property="modifier" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, maintenance_content_id, code, name, maintenance_type, equipment_type_id, equipment_type_code, equipment_type_name, equipment_id, equipment_code, equipment_name, creater_id, creater, modifier_id, modifier, create_time, modify_time, is_deleted
    </sql>

    <!-- 串表查询 -->
    <select id="getTablesByContition" parameterType="cmtech.soft.equipment.base.model.QueryModelEquipmentMaintenanceContentRelation" resultType="cmtech.soft.equipment.base.entity.EquipmentMaintenanceContentRelation" >
        select
        main.id as id,
        main.maintenance_content_id as maintenanceContentId,
        main.code as code,
        main.name as name,
        main.maintenance_type as maintenanceType,
        main.equipment_type_id as equipmentTypeId,
        main.equipment_type_code as equipmentTypeCode,
        main.equipment_type_name as equipmentTypeName,
        main.equipment_id as equipmentId,
        main.equipment_code as equipmentCode,
        main.equipment_name as equipmentName,
        main.creater_id as createrId,
        main.creater as creater,
        main.modifier_id as modifierId,
        main.modifier as modifier,
        main.create_time as createTime,
        main.modify_time as modifyTime,
        main.is_deleted as isDeleted,
        from equipment_maintenance_content_relation main
        left join equipment_type slave
        on main.type_code=slave.code
        <where>
            1=1
            <if test="condition.code!=null and condition.code!=''" >
                and main.code = # {condition.code}
            </if>
            <if test="condition.name!=null and condition.name!=''">
                and main.name like CONCAT('%',# {condition.name},'%')
            </if>
            and main.is_deleted=false and slave.is_deleted=false
            and id in
            <foreach collection="list/array" index="index" item="item" open="(" separator="," close=")">
                # {item}
            </foreach>
        </where>
    </select>
</mapper>
